@model IEnumerable<Joo_website.Models.Dog>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/Style.css" rel="stylesheet" />
    <title>DogPage</title>

    <style>
        .btn a {
            color: white;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" style="color:white;">PET SHOP</a>
    </div>
    <div class="container">
        <h2 style="text-align: center">Dog Items</h2>
        <p>
            <span class="btn btn-success">
                <strong>@Html.ActionLink("Home", "Index")</strong>
            </span>
            <span class="btn btn-success">
                <strong>@Html.ActionLink("Check Cat Items", "CatPage")</strong>
            </span>
        </p>
        <p>
            @*@Html.ActionLink("Create New", "Create")*@
        </p>
        <table class="table">
            <tr>
                <th>
                    Product ID
                    @*@Html.DisplayNameFor(model => model.productId)*@
                </th>
                <th>
                    Product Name
                    @*@Html.DisplayNameFor(model => model.productName)*@
                </th>
                <th>
                    Price
                    @*@Html.DisplayNameFor(model => model.price)*@
                </th>
                <th>
                    Weekly Best
                    @*@Html.DisplayNameFor(model => model.weeklyBest)*@
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.productId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.productName)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.price)
                    </td>
                    <td>
                        Rank @Html.DisplayFor(modelItem => item.weeklyBest)
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.productId }) |*@
                        @Html.ActionLink("Details", "Details", new { id = item.productId })
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.productId })*@
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
